*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#counter{
    height: 100vh;
    background-color: #3c3c3c;
}
#counter .container{
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
}
#counter button, #counter input{
    padding: 10px;
    text-align: center;
}
#counter button{
    cursor: pointer;
}

/*=======Mobile Nav=======*/

#mobileNav{
    height: 100vh;
    background-color: aqua;
    position: relative;
}

#mobileNav .btn{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: rgb(255, 0, 170);
    right: 23px;
    top: 23px;
    cursor: pointer;
}

#mobileNav .bar{
    height: 100vh;
    width: 0;
    background-color: red;
    transition: 0.5s;
}
#mobileNav .bar.active{
    width: 400px;
}


/*======Range=========*/
 
#range{
    height: 100vh;
    width: 100%;
    background-color: #3c3c3c;

}

#range .container{
    display: flex;
    text-decoration: colum;
    align-items: center;
    justify-content: center;
    background-color: brown;
    height: 100vh;
    color: #fff;
}